@charset "UTF-8";

body {
	background: #408080;
	padding-top: 40px;
}

table {
	font-family: Arial, Helvetica, sans-serif;
	color: #666;
	font-size: 18px;
	text-shadow: 1px 1px 0px #fff;
	background: #eaebec;
	margin: auto;
	border: #c0c0c0 1px solid;
	border-collapse: separate;
	-moz-border-radius: 3px;
	-webkit-border-radius: 3px;
	border-radius: 3px;
	-moz-box-shadow: 0 1px 2px #d1d1d1;
	-webkit-box-shadow: 0 1px 2px #d1d1d1;
	box-shadow: 0 1px 2px #d1d1d1;
}

table tr {
	height: 40px;
}

input {
	padding: 9px;
	border: 1px solid #E5E5E5;
	border-radius: 5px;
	box-shadow: 0 0 8px rgba(0, 0, 0, 0.1);
	-moz-box-shadow: 0 0 8px rgba(0, 0, 0, 0.1);
	-webkit-box-shadow: 0 0 8px rgba(0, 0, 0, 0.1);
	background: #FFF left top repeat-x;
}

input[type="submit"] {
	height: 40px;
	width: 100%;
	display: inline-block;
	font-family: arial, sans-serif;
	font-size: 11px;
	color: rgb(205, 216, 228);
	text-shadow: 0 -1px rgb(46, 53, 58);
	text-decoration: none;
	user-select: none;
	line-height: 2em;
	padding: 1px 1.2em;
	outline: none;
	border: 1px solid rgba(33, 43, 52, 1);
	border-radius: 3px;
	background: rgb(81, 92, 102) linear-gradient(rgb(81, 92, 102),
		rgb(69, 78, 87));
	box-shadow: inset 0 1px rgba(101, 114, 126, 1), inset 0 0 1px
		rgba(140, 150, 170, .8), 0 1px rgb(83, 94, 104), 0 0 1px
		rgb(86, 96, 106);
}

input[type="submit"]:active {
	box-shadow: inset 0 1px 3px rgba(0, 10, 20, .5), 0 1px rgb(83, 94, 104),
		0 0 1px rgb(86, 96, 106);
}

input[type="submit"]:focus:not (:active ) {
	border: 1px solid rgb(22, 32, 43);
	border-bottom: 1px solid rgb(25, 34, 45);
	background: rgb(53, 61, 71);
	box-shadow: inset 0 1px 3px rgba(0, 10, 20, .5), 0 1px rgb(83, 94, 104),
		0 0 1px rgb(86, 96, 106);
	pointer-events: none;
}

.redSpan {
	color: red;
}